body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    text-align: center;
    position: relative;
}

ul {
    display: inline-block;
    position: relative;
}

li {
    display: inline-block;
    height: auto;
    line-height: 50px;
    padding-left: 5px;
    position: relative;
    box-shadow: border-box;
    margin: auto;
}

.pipes {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pipes li+li::before {
    content: "|";
    color: #fff;
    padding: 0 .3em 0 .1em;
}

.nav {
    width: 100%;
    max-width: 768px;
    padding: auto;
    margin: auto;
}

.nav li:hover {
    background: royalblue;
    transition: background .6s;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 1281px) {
    header {
        background-color: slategray;
        height: auto;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    header {
        background-color: tan;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        background-color: tomato;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    header {
        background-color: thistle;
        height: auto;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    header {
        background-color: violet;
        height: auto;
    }
    li {
        display: inline-block;
    }
    .pipes li+li::before {
        display: inline-block;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    header {
        background-color: sienna;
        height: auto;
        margin: 0;
    }
    li {
        text-align: center;
        width: 50%;
        float: left;
        margin: 0;
        padding: 0;
    }
    .pipes li+li::before {
        display: none;
    }
}

@media (max-width: 319px) {
    header {
        background-color: darksalmon;
        margin: 0;
    }
    li {
        text-align: center;
        width: 50%;
        float: left;
        margin: 0;
        padding: 0;
    }
    .pipes li+li::before {
        display: none;
    }
}